body {
	background: #EBEBEB;
}
#terminal {
	display: block;
	width: 100%;
	text-decoration: none;
	padding: 10px;
	font-family: "Fira Code";
	color: #fff;
	font-size: 1.2em;
	border-radius: 5px;
	border: 1px solid #BBB;
	background: #483E3E;
	height: 500px;
	overflow: auto;
}
#editor {
	background: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}